@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.dark{
  --background-colour: #000000;
  --text-colour: #ffffff;
}

.light{
  --background-colour: #ffffff;
  --text-colour: #000000;
}


body {
  background-color: var(--background-colour);
  color: var(--text-colour);
}

#navbar{
  background-color: var(--background-colour);
  color: var(--text-colour);
}

#contact{
  background-color: var(--background-colour);
  color: var(--text-colour);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
